<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cladware | Report</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="css/bootstrap_no_print.css" th:href="@{/css/bootstrap_no_print.css}" type="text/css" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" type="text/css" />
    </head>
    <body>
        <div class="container">
             <center>
                <div id="productsBanner">
                    <h2>Cladware Daily Report</h2>
                    <h4>A report on the items sold today</h4>
                </div>
            </center>

            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="item, count : ${items}">
                            <tr>
                                <td th:text="${count.getCount()}">1</td>
                                <td th:text="${item.getName()}">Item</td>
                                <td>Ksh. <span th:text="${item.getUnitPrice()}">500</span></td>
                            </tr>
                        </th:block>
                        <tr th:if="${items.size() > 0}">
                            <td></td>
                            <td style="font-weight: bold">Total</td>
                            <td>Ksh. <span style="font-weight: bold" th:text="${sum}">500</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <center>
                    <p>Cladware &copy; 2018</p>
                </center>
            </div>
        </footer>
    </body>
</html>
